@mixin square {
  width: 9vmin;
  height: 9vmin;
  background-color: #88ab8e;
  top: calc(var(--y) * 9vmin);
  left: calc(var(--x) * 9vmin);
}

.board {
  position: fixed;
  left: calc((100vmax - 90vmin) * 0.7);
  width: 90vmin;
  height: 90vmin;
  top: 5vmin;
  background-color: #eee7da;
  background-image: repeating-linear-gradient(
      to right,
      #0002 0,
      #0000 0.1vmin,
      #0000 8.9vmin,
      #0002 9vmin
    ),
    repeating-linear-gradient(
      to bottom,
      #0002 0,
      #0000 0.1vmin,
      #0000 8.9vmin,
      #0002 9vmin
    );
  background-repeat: repeat;

  > div {
    @include square;
    position: absolute;
    &.destroyed {
      animation: destroyed forwards 300ms ease-in;
      @keyframes destroyed {
        to {
          scale: 0;
        }
      }
    }
  }
}

.block {
  top: 0;
  position: fixed;
  overflow: visible !important;

  > div {
    @include square;
    position: absolute;
    filter: saturate(1.5) brightness(0.7);
  }
}

.ghost {
  @include square;
  filter: saturate(0.5) opacity(0.3);
  position: fixed;
  top: calc(5vmin + var(--y) * 9vmin);
  left: calc((100vmax - 90vmin) * 0.7 + var(--x) * 9vmin);
  background-image: repeating-linear-gradient(
      to right,
      #0008 0,
      #0000 0.1vmin,
      #0000 8.9vmin,
      #0008 9vmin
    ),
    repeating-linear-gradient(
      to bottom,
      #0008 0,
      #0000 0.1vmin,
      #0000 8.9vmin,
      #0008 9vmin
    );
}
