@mixin square {
  width: 9vmin;
  height: 9vmin;
  background-color: #88ab8e;
  top: calc(var(--y) * 9vmin);
  left: calc(var(--x) * 9vmin);
}

.board {
  position: fixed;
  left: calc((100vmax - 90vmin) * 0.7);
  width: 90vmin;
  height: 90vmin;
  top: 5vmin;
  background-color: #eee7da;

  > div {
    @include square;
    position: absolute;
  }
}

.block {
  top: 0;
  position: fixed;
  overflow: visible !important;

  > div {
    @include square;
    position: absolute;
    filter: saturate(1.5) brightness(0.7);
  }
}

.ghost {
  @include square;
  filter: saturate(0.5) opacity(0.3);
  position: fixed;
  top: calc(5vmin + var(--y) * 9vmin);
  left: calc((100vmax - 90vmin) * 0.7 + var(--x) * 9vmin);
}
