@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f2f1eb;

  > h1 {
    font-family: 'Holtwood One SC',sans-serif;
    font-size: 5rem;
    color: darken(#88AB8E, 20);
  }

  &,
  div {
    overflow: hidden;
  }
}
